.RadTabStrip_Office2007Green
{
	text-align: center;
	background: #9fff9f url('Img/TabstripBackground.gif') bottom left repeat-x;
}

.RadTabStrip_Office2007Green ul
{
	padding-top:3px;
}

.RadTabStrip_Office2007Green li a
{
	padding-left: 6px;
	background: transparent url('img/tabMiddleOff.gif') 0px 0px no-repeat;
	color: #207820;
	text-decoration: none;
	line-height: 23px;	
}

.RadTabStrip_Office2007Green li a:hover
{
	color: black;
}

.RadTabStrip_Office2007Green li a .wrap
{

	padding-right: 6px;
	background: transparent url('img/tabMiddleOff.gif') right 0px no-repeat;
}

.RadTabStrip_Office2007Green li a .innerWrap
{

	padding: 0 5px;
	background:transparent url('img/tabMiddleOff.gif') 0px 0px repeat-x;
}

.RadTabStrip_Office2007Green li a.selected
{
	line-height: 23px;
	background: transparent url('img/tabLeftOn.gif') 0px 0px no-repeat;
}

.RadTabStrip_Office2007Green li a.selected .wrap
{
	background-image:url('img/tabRightOn.gif');
}


.RadTabStrip_Office2007Green li a.selected .innerWrap
{
	background: url('img/tabMiddleOn.gif') right top no-repeat;
}

/* arrows */
.RadTabStrip_Office2007Green .rightArrow, 
.RadTabStrip_Office2007Green .leftArrow,
.RadTabStrip_Office2007Green .rightArrowDisabled, 
.RadTabStrip_Office2007Green .leftArrowDisabled
{
	width:17px;
	height:22px;
}




.RadTabStrip_Office2007Green .leftArrow
{
	background-image:url(img/ScrollLeft.png);
}

.RadTabStrip_Office2007Green .rightArrow
{
	background-image:url(img/ScrollRight.png);
}

.RadTabStrip_Office2007Green .leftArrowDisabled
{
	background-image:url(img/ScrollLeftDisabled.png);
}

.RadTabStrip_Office2007Green .rightArrowDisabled
{
	background-image:url(img/ScrollRightDisabled.png);
}