/* Telerik RadCalendar BarsGreen skin */

table.calendarWrapper_BarsGreen
{
	background: white;
	cursor: default;
	border: solid 1px #a0aab6;
	filter: progid:DXImageTransform.Microsoft.dropShadow(Color=a0aab6,offX=2,offY=2,positive=true);
}

.TableLayout_BarsGreen td
{
	border-bottom: solid 1px #f4f4f4;
	width: 20px;
	font: normal 11px Tahoma, Verdana, Sans-serf;
}

.TableLayout_BarsGreen td a
{
	text-align: center;
	width: 15px;
	height: 13px;
	padding: 1px;
	display: block;
	text-decoration: none;
	color: #000;
	cursor: default;
}

.DaysOfWeek_BarsGreen
{
	color: #535353;
	text-align: center;
	text-transform: uppercase;
	height: 17px;
	border-bottom: solid 1px #dde1e4 !important;
	background: url('Img/DaysOfWeekBg.gif');
}

.otherMonth_BarsGreen a
{
	color: #d1d1d1 !important;
	padding: 1px;
	display: block;
	width: 100%;
	text-align: center !important;
	height: 13px;
	margin: 1px;
}

.otherMonth_BarsGreen span
{
	color: #d1d1d1;
	padding: 1px;
	display: block;
	width: 100%;
	height: 13px;
	text-align: center !important;
	margin: 1px;
}

.outOfRange_BarsGreen span
{
	background: #fff;
	color: #d1d1d1;
	display: block;
	width: 100%;
	height: 13px;
	text-align: center !important;
}

.titlebar_BarsGreen
{
	font: bold 11px Tahoma, Verdana, Sans-serf;
	height: 20px !important;
	border-bottom: solid 1px #8a9db5;
	width: 100%;
	color: white;
	background: #b9c4d2 url('Img/titlebarBg.gif') repeat-x;
}

.titlebar_BarsGreen img
{

}

.MonthYearFastNav_BarsGreen
{
	border: 1px solid #a0aab6;
	background: white;
	font: normal 8pt Tahoma;
	color: #000;
	border-collapse: separate;
	filter: progid:DXImageTransform.Microsoft.dropShadow(Color=a0aab6,offX=2,offY=2,positive=true);
	cursor: hand;
	cursor: pointer;
}

.MonthYearFastNav_BarsGreen td
{
	background: white;
	vertical-align: middle;
	text-align: center;
	border: solid 1px white !important;
}

.MonthYearFastNav_BarsGreen td.selected_BarsGreen
{
	background: #f9f6dd;
	color: black;
	text-align: center;
	border: solid 1px #e3d7c0 !important;
}

.MonthYearFastNav_BarsGreen td.bottom_BarsGreen
{
	text-align: right;
	padding-left: 9px;
}

.MonthYearFastNav_BarsGreen td input
{
	background: #ced8dd;
	border: solid 1px #69798c;
	font: normal 11px Tahoma, Verdana, Sans-serf;
	color: #000000;
	float: left;
	width: auto;
	margin-right: 6px;
}

.radCalDefault_BarsGreen a:hover,
.radCalHover_BarsGreen a:hover,
.radCalWeekendDefault_BarsGreen a:hover, 
.radCalWeekendHover_BarsGreen a:hover
{
	background: #f9f6dd;
	height: 13px;
	border: solid 1px #e3d7c0;
	display: block;
}

.radCalDefault_BarsGreen a,
.radCalHover_BarsGreen a,
.radCalWeekendDefault_BarsGreen a, 
.radCalWeekendHover_BarsGreen a
{
	background: #fff;
	border: solid 1px #fff;
	text-align: right;
	height: 13px;
	display: block;
	text-decoration: none;
	color: #000;
}

.radCalToday_BarsGreen a
{
	background: white;
	border: solid 1px #a0aab6;
	color: black !important;
}

.radCalTodaySelected_BarsGreen a
{
	background: #ced8dd;
	border: solid 1px #a0aab6;
	color: black !important;
}

.radCalSelect_BarsGreen a,
.radCalWeekendSelect_BarsGreen a
{
	background: #ced8dd;
	border: solid 1px #a0aab6;
	color: black !important;
	text-align: center !important;
}

.radPopupImage_BarsGreen
{
	position: relative; 
	*position: inherit; /*IE fix*/
	outline: none;
}

.radPopupImage_BarsGreen img
{
	vertical-align: middle;
	_vertical-align: top; /* IE fix */	
	margin-left: 2px;
	margin-right: 2px;
	margin-top: -1px; /* IE margins fix */
	_margin-top: 0px; 
	border-width: 0px;
}

.radDisabled_BarsGreen img
{
	 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.pickerWrapper_BarsGreen
{
	vertical-align: bottom;
}