/* r.a.d.combobox BarsGreen skin */

.ComboBoxDropDown_BarsGreen
{
	border: solid 1px #d8dde0;
	background: white;
	text-align: left;
}

.ComboBoxHeader_BarsGreen
{
	font: normal 12px Tahoma, Verdana, Sans-serif;
	color: black;
	text-decoration: none;
	text-align: left;
	line-height: 26px;
	background: url('HeaderBg.gif') repeat-x;
	
	border-top: solid 1px #d8dde0;
	border-top: solid 1px #d8dde0;
	cursor: default;
}

.ComboBoxImage_BarsGreen,
.ComboBoxImageHover_BarsGreen
{
	vertical-align: middle;
}

.ComboBoxInput_BarsGreen,
.ComboBoxInputHover_BarsGreen
{
	height: 21px;
	border: solid 1px #afbec5;
	border-right: 0px;
	background: white;
	scrollbar-base-color : #B6D2FC;
	vertical-align: middle;
	font: normal 12px Tahoma, Verdana, Sans-serif;
	color: black;
	padding-top: 3px;
	padding-left: 4px;
	cursor: default;
}

.ComboBoxItem_BarsGreen,
.ComboBoxItemHover_BarsGreen,
.ComboBoxItemDisabled_BarsGreen
{
	font: normal 12px Tahoma, Verdana, Sans-serif;
	color: black;
	text-decoration: none;
	text-align: left;
	line-height: 26px;
	background: white;
	border-top: solid 1px #f0f2f3;
	border-top: solid 1px #f0f2f3;
	cursor: default;
	padding-left: 4px;
}

.ComboBoxItemHover_BarsGreen
{
	background: #f0f2f4;
	border-top: solid 1px #d8dde0;
	border-top: solid 1px #d8dde0;
}

.ComboBoxItemDisabled_BarsGreen
{
	color: gray;
	cursor: no-drop;
}

.ComboBoxLoadingMessage_BarsGreen
{
	font: normal 10px Arial, Verdana, Sans-serif;
	padding: 2px;
}

.ComboBoxMoreResultsMessage_BarsGreen
{
	font: normal 10px Arial, Verdana, Sans-serif;
	padding-bottom: 4px;
}

.ComboBoxMoreResultsImage_BarsGreen
{
	padding: 4px;
	margin: 4px;
}

.ComboBoxMoreResultsBox_BarsGreen
{
	background: url('moreResults.gif') repeat-x bottom;
	border-top: solid 1px #d8dde0;
	cursor: default;
}