<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="fast_reps.Properties.Settings.ConnectionString" connectionString="Dsn=xls;dbq=D:\Time\Баланс.xls;defaultdir=D:\Time;driverid=790;fil=excel 8.0;maxbuffersize=2048;pagetimeout=5"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>